html{
    background-size: 100px;
}
body {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 30px;
    font-family: Lucida Sans Unicode;
    color: black;
}
#backgroundImage{
    width: 100%;
    height: 200%;
    background-image: url("../Images/login_background.jpg");
    background-size: cover;
    filter: blur(20px);
    z-index: 1;
}
#form_box{
    position: absolute;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 80px;
    background-color: white;
    padding: 20px;
    width: 33%;
    z-index: 100;
}
.box {
    width : 95%;
    height: 25px;
    margin-bottom: 25px;
}
.msgErreur{
    width : 410px;
    text-align: right;
    color : red;
    font-size : 0.75em;
}
.boite{
    height: 30px;;
    width: 100%;
}
.inscription{
    text-align: center;
    padding-top: 10px;
}
#musique p {
    text-align: center;
    padding-top: 30px;
}
.music{
    display: inline-block;
    width: 130px;
    text-align: right;
}