#contain {
    display: flex;
    justify-content: space-evenly;
}

#actions {
    display: flex;
    justify-content: space-evenly;
}

#new_product{
    width: 30%;
    height: 70vh;
}

#add_product_lot{
    width: 30%;
    height: 70vh;
}

#new_lot{
    width: 30%;
    height: 70vh;
}

#lot_on_sale{
    padding: 1rem 2rem !important;
   /* border : solid 1px;*/
    background-color: #e9ecef;
}

#lot_sold{
    padding: 1rem 2rem !important;
   /* border : solid 1px;*/
    background-color: #e9ecef;
}

.form-control{
     background-color: white !important;
}
